<div >

    <!-- Button Dashboard (Generar Reporte) -->
    <div class="row mb-4">
        
        <div class="col-sm-12 col-md-6">
    
            <!-- maybe class h3 -->
            <h1 class="mb-0 text-gray-800 font-nunito">Dashboard</h1>

        </div>

        <div class="col-md-6 text-md-end mt-3 mt-md-0">
            <!-- Generate Report -->
                <button 
                    mat-raised-button
                    class="light-blue-btn small-btn">
                    <i class="fas fa-download fa-sm text-white-50 me-2"></i>
                    Generate Report</button>
        </div>

    </div>



    <!-- Earnings card -->
    <div class="row">
        <div 
            class="col-xl-3 col-md-6 col-12 mb-4" 
            *ngFor="let card of cards">

            <!-- Mat Card (componente reutilizable) -->
            <app-earnings-card
            [title]="card.title"
            [amount]="card.amount"
            [progress]="card.progress"
            [icon]="card.icon"
            [borderColor]="card.borderColor">
            </app-earnings-card>
            
        </div>

    </div>



    <!-- Card (Charts Line and Circle)-->
     <div class="row">

        <!-- Chart Line -->
        <div class="col-12 col-xl-8 col-lg-7">
            <div class="card shadow mb-4 ">

                <app-chart-line [data]="data"></app-chart-line>

            </div>
        </div>



        <!-- Chart circle -->
        <div class="col-12 col-xl-4 col-lg-5">
            <div class="card shadow mb-4 ">

                <app-chart-circle></app-chart-circle>

    
            </div>
        </div>


     </div>
     

     <div class="row">
        <h1>Hi!</h1>
     </div>

</div>
