
<!-- Mat Card -->
<mat-card class="shadow custom-card border-left-{{ borderColor }}">
    <div class="card-content">

        <div class="pt-2 pb-2 col-10 p-0">
            <div class="title text-{{ borderColor }}">{{ title }}</div>

            <div class="amount">
                {{ amount === '0' ? progress + '%' : amount }}


                <mat-progress-bar
                    *ngIf="amount === '0'"
                    class="progress-spacing ms-3 me-1"
                    [value]="progress"
                    color="accent"
                    mode="determinate">
                </mat-progress-bar>

            </div>
             
        </div>


    
        <div class="col-2">
            <i class="fas {{ icon }} fa-2x text-gray-300"></i>
        </div>

    </div>
</mat-card>
        
