<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <style>
        
    </style>
</head>
<body>
    <div class="form-container">
        <p class="title">Reset Password</p>
        <form class="form" (submit)="onLogin()" [formGroup]="formResetPass">

            <!-- New Password -->
            <mat-form-field appearance="outline">
                <mat-label><i class="fas fa-lock me-2"></i> Password</mat-label>
                <input matInput
                    [type]="hidePassword ? 'password' : 'text'"
                    type="password"
                    name="password"
                    formControlName="password">

                <button mat-icon-button
                        type="button"
                        matSuffix
                        (click)="hidePassword = !hidePassword"
                        [attr.aria-label]="'Toggle password visibility'"
                        [attr.aria-pressed]="!hidePassword">
                    <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>

                </button>
                

                <mat-error
                    *ngIf="formResetPass.get('password')?.invalid && formResetPass.get('password')?.touched">
                    Please enter a valid password.
                </mat-error>
            </mat-form-field>
            
            <!-- Confirm password -->
            <mat-form-field appearance="outline">
                 <mat-label><i class="fas fa-lock me-2"></i> Password</mat-label>
                <input matInput
                    [type]="hidePassword ? 'password' : 'text'"
                    type="password"
                    name="ConfirmPassword"
                    formControlName="confirmPassword">

                <button mat-icon-button
                        type="button"
                        matSuffix
                        (click)="hidePassword = !hidePassword"
                        [attr.aria-label]="'Toggle password visibility'"
                        [attr.aria-pressed]="!hidePassword">
                    <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>

                </button>
                

                <mat-error
                    *ngIf="formResetPass.get('confirmPassword')?.invalid && formResetPass.get('password')?.touched">
                    Please enter a valid password.
                </mat-error>
            </mat-form-field>

            <!-- Error differents passwords -->
            <mat-error
                    *ngIf="formResetPass.get('confirmPassword')?.value !== formResetPass.get('password')?.value && formResetPass.get('confirmPassword')?.dirty && formResetPass.get('password')?.dirty">
                    Passwords must be identical.
            </mat-error>

            <!-- Rules -->
            <ul class="password-rules">
                <li>At least 8 characters</li>
                <li>At least one uppercase letter (A–Z)</li>
                <li>At least one lowercase letter (a–z)</li>
                <li>At least one special character (e.g. !, &#64; #, $, %)</li>
                <li>P&#64;ssw0rd!23</li>
            </ul>
            
            <button class="form-btn">Reset Password</button>
        </form>
    </div>
</body>
</html>