<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
</head>
<body>
    <div class="form-container">
        <p class="title">Recuperar acceso</p>

        <!-- Spinner -->
        <mat-spinner *ngIf="isLoading"></mat-spinner>

        <form class="form" [formGroup]="formForgotPass" (submit)="onReset()" *ngIf="!isLoading">

            <!-- Email -->
            <mat-form-field appearance="outline">
                <mat-label><i class="fas fa-envelope me-2"></i> E-mail</mat-label>
                <input matInput
                    type="email"
                    name="email"
                    placeholder="E-mail"
                    formControlName="email">

                <mat-error
                    *ngIf="formForgotPass.get('email')?.invalid && formForgotPass.get('email')?.touched">
                    Please enter a valid email.
                </mat-error>

            </mat-form-field>



            <!-- Password -->
            <mat-form-field appearance="outline">
                 <mat-label><i class="fas fa-lock me-2"></i> Code</mat-label>
                <input matInput
                    type="code"
                    name="code"
                    formControlName="code">
                

                <mat-error *ngIf="formForgotPass.get('code')?.hasError('invalidFormat')">
                    Format must be: A7dE-9BfT-Xk91-J4Lz
                </mat-error>

            </mat-form-field>

        
                
            <button class="form-btn">Verificar y continuar</button>
        </form>

        <p class="info-text">
            ¿No tienes tu código? Contacta al soporte técnico.
        </p>
    </div>
</body>
</html>