<!-- TITULO -->
<div class="col-sm-12 col-md-6">
  <h3 class="text-primary text-start mb-4 fw-semibold">Temperature</h3>
</div>

<div class="charts-container">
  <section *ngFor="let site of sites" class="chart-section">

    <div class="mt-4"><!-- tittle -->
      <h2 class="h5 text-muted fw-semibold mb-3">
        <i class="fas fa-map-marker-alt fa-sm text-secondary me-2"></i> {{site.name}}
      </h2>
    </div>

    <div class="card border-0 shadow-sm mb-5">
      <div class="card-header bg-primary bg-opacity-10 py-3 border-bottom"></div>
    
       <!-- Botones de filtrado -->
      <div class="d-flex flex-wrap gap-2 mt-2 justify-content-center justify-content-sm-end">
        <button class="btn btn-sm btn-info" (click)="chartRefs[site.id].filterBySeason(null)">All Season</button>
        <button class="btn btn-sm btn-primary" (click)="chartRefs[site.id].filterBySeason('Cold')">Cold</button>
        <button class="btn btn-sm btn-warning" (click)="chartRefs[site.id].filterBySeason('Dry')">Dry</button>
        <button class="btn btn-sm me-sm-3 btn-success" (click)="chartRefs[site.id].filterBySeason('Rainy')">Rainy</button>
      </div>

      <app-chart-bar
          #chartBar
          [chartId]="'chart-' + site.id"
          [data]="site.data"
          [chartTitle]="'Monthly Data'">
      </app-chart-bar>
    </div>
  </section>
</div>
